
    /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:   #FFFFFF  !important;
    height: 70px !important;
    padding-top: 12px !important;
    border: 0 !important;
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
}
.navbar-brand{
    margin-left: 150px !important;
    color: #3F7FBF !important;
}
.main-content{
    background-color: #f1f1f1;
}
#myNavbar ul{
    margin-right: 100px !important;
    padding-top: 10px !important;
}
#myNavbar ul a {
    margin-left: 10px !important;
}
.search-box {
    margin-left: 250px !important;
}
.search-box input{
    border-radius: 25px;
    background-color: #f1f1f1;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 730px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: #FFFFFF;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #f1f1f1;
    color: black;;
    padding: 15px;
}

.row-1{
    height: 80px;
    border-bottom: 1px solid black;
    border: 0 !important;
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
}
.row-2{
    height: 450px;
    border-bottom: 1px solid black;
    border: 0 !important;
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
}
    .row-3{
        height: 150px;
        border-bottom: 1px solid #e5e5e5;
        padding-top: 20px;
        border: 0 !important;
    box-shadow: none !important;
   -webkit-box-shadow: none !important;
    }
    .row-4{
        padding-top: 10px;

    }
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    /*.sidenav {*/
        /*height: auto;*/
        /*padding: 15px;*/
    /*}*/
    .row.content {
        height:auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        background-color: #FFFFFF;
    }
}


/* content */
    /* ------------------row-1-------------------------- */

.avatar{
    padding-top: 20px;

}
.avatar img{
    width: 40px;
    height: 40px;
}
.avatar p{
   float: right;
    padding-right: 90px;
    padding-top: 10px;
}
.minutes{
    padding-top: 20px;
}

/* -----------------------row-2--------------------- */
    .image-content img{
        width: 610px;
        height: 450px;
    }
    /* --------------------row-3------------------------ */
    .action-content{
        padding-bottom: 20px;
        margin-left: -40px;
    }
   .action-content ul{
    list-style-type: none;

   }
   .action-content ul li {
        display: inline;
        float: left;
   }
   #atc-1{
    margin-right: 55px;
   }
   #atc-2{
     margin-right: 55px;
   }
   #atc-3{
    margin-right: 400px;
   }
   #atc-4{

   }
    /* ---------------------row-4----------------------- */
    .i-currentuser img{
        width: 40px;
        height: 35px;
        float: left;
    }
.comment-content{
    float: right;
    width: 567px;
}

.comment-content input {
   background: url(../icon/ic_send_black_24dp_1x.png) no-repeat scroll 7px 7px;
  padding-left: 35px;
}